@model Course

@{
    ViewData["Title"] = "Create";
    ViewData["Tagline"] = "Create New Course";
    ViewData["Description"] = "Create a new course of instruction for your institution.";
}

<div class="row">
    <div class="col-md-5">
        <form asp-controller="Courses" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}