@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses Overview";
    ViewData["Tagline"] = "Courses Overview";
    ViewData["Description"] = "A brief overview of all of the courses at your institution.";
}

@foreach (Course course in Model)
{
    <p>@course.Name</p>
}