@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses Overview";
    ViewData["Tagline"] = "Courses Overview";
    ViewData["Description"] = "All your institution's courses at a glance with add, remove, and delete options.";
}

@foreach (Course course in Model)
{
    <p>@course.Name</p>
}