@{
    ViewData["Title"] = "About";
    ViewData["Tagline"] = "About This Application";
    ViewData["Description"] = "A brief overview of the what, how, and why of Student and Course Administration.";
}

<p>There is nothing here yet...</p>

