@{
    ViewData["Title"] = "About";
    ViewData["Tagline"] = "About This Application";
    ViewData["Description"] = "A brief overview of the what, how, and why of Student and Course Administration.";
}

<div class="card">
    <div class="card-header">
        About This Application
    </div>
    <div class="card-body">
        <p>Student and Course Administration provides an interface to
           create, read, update, and delete courses and students from
           a database.</p>

        <p>No authentication is implemented for this application. It
           is assumed that only administrators would have access.</p>

        <p>The following requirements have been met by this application:</p>
        <ol>
            <li>
                Students can only be registered for one class at a time.
            </li>
            <li>
                The administration should be able to view all the students enrolled in a specific course.
            </li>
            <li>
                View all students enrolled all at once and the class they are registered for.
            </li>
            <li>
                View Course information independently.
            </li>
            <li>
                Remove specific students.
            </li>
            <li>
                Remove courses.
            </li>
            <li>
                Seach for specific students.
            </li>
            <li>
                Search for courses.
            </li>
            <li>
                Edit a student's profile.
            </li>
            <li>
                Edit a course's information.
            </li>
        </ol>
    </div>
</div>
