@{
    ViewData["Title"] = "Contact";
    ViewData["Tagline"] = "Contact The Developer";
    ViewData["Description"] = "Send me all your complaints, suggestions, and (hopefully) good vibes!";
}

<p>There is nothing here yet...</p>

