@{
    ViewData["Title"] = "Contact";
    ViewData["Tagline"] = "Contact The Developer";
    ViewData["Description"] = "Send me all your complaints, suggestions, and (hopefully) good vibes!";
}

<div class="card">
    <div class="card-header">
        Contact the Developer
    </div>
    <div class="card-body">
        <strong>Student and Course Administration was developed by Joshua Taylor</strong>
        <p></p>
        <address>
            <strong>Email:</strong> <a href="mailto:taylor.joshua88@gmail.com">taylor.joshua88@gmail.com</a><br />
            <strong>Github:</strong> <a href="https://github.com/taylorjoshua88">https://github.com/taylorjoshua88</a><br />
            <strong>Twitter:</strong> <a href="https://twitter.com/Jupiter_Nebula">&#64;Jupiter_Nebula</a>
        </address>
    </div>
</div>
