@{
    ViewData["Title"] = "Index";
    ViewData["Tagline"] = "Welcome to Student and Course Administration!";
    ViewData["Description"] = "Please choose any link above to interface with the database or find out more about this application.";
}

<div class="card">
    <div class="card-header">
        Student and Course Administration
    </div>
    <div class="card-body">
        <strong>Welcome to Student and Course Administration!</strong>
        <p></p>
        <p>This application provides an interface to create, read, update, and delete
           students and courses from an administrative database.</p>
        <p>Please select one of the links above to continue.</p>
    </div>
</div>