@{
    ViewData["Title"] = "Index";
    ViewData["Tagline"] = "Welcome to Student and Course Administration!";
    ViewData["Description"] = "Please choose any link above to interface with the database or find out more about this application.";
}

<p>There is nothing here yet...</p>
