@model Student

@{
    ViewData["Title"] = "Add New Student";
    ViewData["Tagline"] = "Add New Student";
    ViewData["Description"] = "Add a New Student to Your Institution.";
}

<form class="offset-xl-3 offset-lg-3 offset-md-1 offset-sm-0" asp-controller="Students" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group row col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="form-group col-sm mr-1">
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>

        <div class="form-group col-sm">
            <label asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
    </div>

    <div class="form-group row col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="form-group col-sm-6">
            <label asp-for="EnrollmentDate"></label>
            <input class="form-control" asp-for="EnrollmentDate" />
            <span class="text-danger" asp-validation-for="EnrollmentDate"></span>
        </div>

        <div class="form-group col-sm-6">
            <label asp-for="HighestCourseLevel"></label>
            <input class="form-control" asp-for="HighestCourseLevel" />
            <span class="text-danger" asp-validation-for="HighestCourseLevel"></span>
        </div>
    </div>

    <div class="form-group row col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="form-group col-sm mr-1">
            <label asp-for="CurrentCourse"></label>

            @(Html.DropDownListFor(m => m.CurrentCourseId, new SelectList((IEnumerable<Course>)ViewData["AvailableCourses"], "ID", "Name"), new { @class = "form-control" }))

            @*
            <!--
            <select class="form-control" asp-for="CurrentCourseId" asp-items="@(new SelectList((IEnumerable<Course>)ViewData["AvailableCourses"], "ID", "Name"))"></select>
            -->
            *@
            <span class="text-danger" asp-validation-for="CurrentCourseId"></span>
        </div>
    </div>

    <div class="form-group row ml-1 col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="form-group col-sm-6">
            <div class="form-check row">
                <input class="form-check-input align-middle" asp-for="PassedInterview" />
                <label class="form-check-label" asp-for="PassedInterview"></label>
                <span class="text-danger" asp-validation-for="PassedInterview"></span>
            </div>

            <div class="form-check row">
                <input class="form-check-input align-middle" asp-for="Placed" />
                <label class="form-check-label" asp-for="Placed"></label>
                <span class="text-danger" asp-validation-for="Placed"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success ml-3" type="submit">Add Student</button>
        <a asp-controller="Students" asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}